body{
    background-color: white;
}
#jumbo{
    background-color:#30373B;
     color: white;
     
     opacity: 90%;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.table-dark{
    padding: 5%;
}
